{{>layouts/header}}
<div class="container">
    <form action="/" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            <input type=text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            <textarea class="form-control" name="content" rows="10"></textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">등록</button>
            <a class="btn btn-secondary" href="/" role="button">취소</a>
        </div>
    </form>
</div>
{{>layouts/footer}}