{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="articles/{{id}}_view">{{title}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>
<a href="articles/new">Create Post</a>
{{>layouts/footer}}